<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="Mercado Oficios" content="
  Agricultor
Alambrador
Albañil
Alfarería
Arenador
Barbero
Bachero
Camarero
Camionero
Carpintero
Chef
Chofer
Cocinero
Colchonero
Cosechador
Electricista
Maestra Particular
Fontanero
Fletero
Grabado
Herrero
Jardinero
Joyero
Leñador
Letrista
Limpiabotas
Maestro mayor de obras
Manicura
Matricero
Mecánico
Modista
Molinero
Orfebre
Oberlok
Pastor
Peletería
Coifiure
Pescador
Pintor
Plomero
Repostería
Rotulista
Sembrador
Taxidermia
Techista
Tintorero
Tornero
Trabajadora doméstica
Vendedor ambulante
Yesero
Zapatero
Depiladora
Podologa
Profesora Ingles
Profesora Frances
Profesor Matematica
Profesor Fisica
Decorador Interior
Paisajista
Desarrollo Web
Programador
Testing
"
  autor="Jesus Rosales" />

  <title>Mercado Oficio</title>
  <link rel="icon" href="../img/logo.ico">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- <link rel="stylesheet" href="fonts.css"> -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <link href="/css/menu2.css" rel="stylesheet">
</head>
<header>
  <div class="menu_bar fixed-top">
    <table>
      <tr>
        <td style="width: 400px;">
          <a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
        </td>
      </tr>
    </table>
  </div>
  <nav>
    <ul>
      <li><a href="/home"><span class="icon-house"></span>Inicio</a></li>
      <li class="submenu">
      
        <% if(user){ %>
          <input id="nombre" name="nombre" href="#" readonly></input>
          <ul class="children">
              <li><a href="/editar/<%= user.dni %>">Editar Perfil <span class="icon-dot"></span></a></li>
              <!-- <li><a href="/editar/<%= user.dni %>">Calificar otro usuario<span class="icon-dot"></span></a></li>-->
              <li><a href="/editar/<%= user.dni %>">Ver mis calificaciones<span class="icon-dot"></span></a></li>
              <li><a href="/salir">Salir </a></li>
        
              <!--<li><a href="/editar">Editar su perfil</a></li>-->
        <% }  else{ %>
          <a href="#"><span class="icon-rocket"></span>Mi cuenta<span class="caret icon-arrow-down6"></span></a>
          <ul class="children">
              <!--<li><a href="/register"><span class="icon-suitcase"></span>Registrarse</a></li>-->
            <li><a href="/login"> Ingresar </a></li>
            <li><a href="/register"> Abrir una cuenta nueva </a></li>        
        <% } %>
        </ul>
      </li>
      <li><a href="/contacto"><span class="icon-mail"></span>Contacto</a></li>
      <li style="width: 200px;" ><a style="width: 200px;" href="/acercade"><span class="icon-mail"></span>Acerca de</a></li>
  </nav>




  <script>
   

    $(document).ready(main);

    var contador = 1;

    function main() {
      $('.menu_bar').click(function() {
        if (contador == 1) {
          $('nav').animate({
            left: '0'
          });
          contador = 0;
        } else {
          contador = 1;
          $('nav').animate({
            left: '-100%'
          });
        }
      });

      // Mostramos y ocultamos submenus
      $('.submenu').click(function() {
        $(this).children('.children').slideToggle();
      });
    }
    let dni =    sessionStorage.getItem("dni");
    let mnombre =  sessionStorage.getItem("nombre");
    document.getElementById('nombre').value = mnombre
    console.log(" menu dni ", dni, mnombre )
    if ((dni>1) && (nombre.length==0)){
      url="/api/usuario/"+dni
      console.log("entro menu2 servidor ->",url)
      fetch(url)
      .then(response => response.json())
      .then((data) => {
         console.log("menu data", data)
         nombre = data[0].nombre
    });
    }
    console.log(" menu dni ", dni, nombre )
  </script>
</header>