<fieldset>
<table style="width:500px;" >
 
  <tr>
    
    <legend> Seleccione la localizacion </legend>
    <td style="width:150px;">
      <input type="radio" name="loc" value="direccion" checked></input>
      <label >pepe</label>
    </td>
    <td style="width:150px;">
       <input type="radio" name="loc" ></input>
       <label >cristi</label>
    </td>
    <td style="width:150px;">
      <input type="text" name="localizacion" id="localizacion"></input>
    </td>
  </fieldset>
  </tr>
</table>
