/* Grid styles -------------------------------------------------*/

.modificarproducto {
  
    /* display: grid;
    /*
    max-width: 960px;
    /*margin: 2em auto;*/
    margin-left: 5px;
    width: 200px;
    background-color:white;
    grid-template-columns: 200px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    
    grid-template-rows: auto;
    grid-gap: 20px;
   }
   
   .grid {
     
      display: grid;
     /*
     max-width: 960px;
     /*margin: 2em auto;*/
     margin-left: 5px;
     width: 200px;
     background-color:white;
     grid-template-columns: 200px;
     grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
     
     grid-template-rows: auto;
     grid-gap: 20px;
   }
   
   .grid-div {
     background-color:rgb(245, 245, 233);
     text-align: center;
     width: auto;
     margin-top: 0px;
     margin-bottom: 25px!important;
     padding: 0 12px;
     height: 690px;
     border-bottom: 1px solid #E5E5E5;
     border-left: 1px solid #E5E5E5;
   
   }
   .grid-img {
     margin-top: 20px;
     width: 400px;
     height: 300px;
     box-shadow: 0 0 15px rgb(3, 3, 3);
     background: #fff;
     border-radius: 10%;
     /*object-fit: scale-down;*/
   }
   
   @media only screen and (min-width: 200px) {
     .grid {
       grid-template-columns: 1fr ;
     }  
   }
   
   @media only screen and (min-width: 400px) {
     .grid {
       grid-template-columns: 1fr 1fr;
     }  
   }
   
   @media only screen and (min-width: 950px) {
     .grid {
       grid-template-columns: 1fr 1fr ;
     }  
   }
   
   
   @media only screen and (min-width: 1000px) {
     .grid {
       grid-template-columns: 1fr 1fr;
     }
   }
   
   @media only screen and (min-width: 1200px) {
     .grid {
       grid-template-columns: 1fr  1fr 1fr;
     }
   }